.container {
    padding-top: 50px;
    padding-bottom: 10px;
    color: #405065;
  }
  
  .search-hero {
    max-width: 500px;
    padding-bottom: 50px;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .form-control {
    box-shadow: 0 10px 40px 0 #B0C1D9;
    
  }
  .form-control::placeholder  {
    font-family: FontAwesome;
  }
  .backToProject{
    display: flex;
    height: 3em;
    width: 160px;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
  }
  .backToProject > svg {
    margin-right: 5px;
    margin-left: 5px;
    font-size: 20px;
    transition: all 0.4s ease-in;
   }
   .backToProject:hover > svg {
    font-size: 1.2em;
    transform: translateX(-5px);
   }
   
   .backToProject:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }