<app-nav></app-nav>
<div class="topLevelPage">
    <aside class="leftPageText">
        <p class="paragraph">Unlock the potential <br> of <span style="color: #009B3E;">Spring Boot</span><br> back-ends
            effortlessly</p>
        <p class="paragraph descriptionOfHeader">Migrate with a click of a button from JEE/JAVA to Spring boot easily
        </p>
        <button routerLink="/project" color="primary" mat-raised-button>Build your first project</button>
    </aside>
    <img src="assets/people-collaborating-online.png" class="image" alt="server down" width="600" height="500" style="flex: 1;">
</div>

<div style="background-color: #F4F2F2; display: flex; ">
    <div style="margin-top: 80px">
        <div style="display: flex;">
            <aside class="leftPageText">
                <span style="color:#009B3E ;">
                    <p>Accelerate Back-end</p>
                    <p>Development</p>
                </span>
                <span class="descriptionOfHeader">
                    <p class="paragraph" style="color: black;">Efficiently generate key <br>components of your back-end
                        <br>with ease. Our
                        intuitive
                        tools<br>
                        automate the creation of <br>
                        services, repositories, <br> controllers, and entities,<br> empowering you to
                        focus
                        on
                        building your application's
                        core functionality.
                    </p>
                </span>
                <button color="primary" mat-raised-button>Learn more</button>
            </aside>
            <div style=" flex: 1; display: flex; flex-wrap: wrap; margin-bottom: 80px;">
                <div style="flex:1;display: flex;">
                    
                    <div class="card">
                        <div class="tools">
                            <img style="padding: 0px;" src="assets/servicePic.png" alt="" width="80" height="80">
                        </div>
                        <div class="card__content">
                            <p class="cardTitle">Build Services</p>
                            <p class="cardDescription">Effortlessly create robust<br> and scalable services for<br> your
                                application. Build the<br> backbone of your backend <br>with ease, focusing on
                                <br>business logic and<br> functionality
                            </p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="tools">
                            <img src="assets/repositoryPic.png" alt="" width="60" height="60">
                        </div>
                        <div class="card__content">
                            <p class="cardTitle">Generate Repositotires</p>
                            <p class="cardDescription">Streamline data access with <br>automated repository generation.
                                <br>Save time and effort by quickly generating repository classes that handle database
                                operations and queries
                            </p>
                        </div>
                    </div>
                </div>
                <div style="flex:1;display: flex; margin-top: 10px;">
                    <div class="card">
                        <div class="tools">
                            <img src="assets/controllerPic.png" alt="" width="80" height="80">
                        </div>
                        <div class="card__content">
                            <p class="cardTitle">Generate Controllers</p>
                            <p class="cardDescription">Accelerate API development<br> by generating controllers.<br>
                                Automatically create RESTful<br> endpoints with customizable<br> actions, making it easy
                                to<br> expose and handle data<br> interactions</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="tools">
                            <img src="assets/entityPic.png" alt="" width="80" height="80">
                        </div>
                        <div class="card__content">
                            <p class="cardTitle">Generate Entites</p>
                            <p class="cardDescription">Simplify data modeling with<br> entity generation. Quickly<br>
                                generate database entities,<br> defining the structure and<br> relationships of your
                                data,<br> reducing manual coding and<br> increasing productivity</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div style="background-color: white;">
            <div>
                <h2 class="headerBlue">Seamless Migration to Spring Boot</h2>
                <p class="cardDescription">Effortlessly transition from Java/JEE to Spring Boot</p>
                <div style="flex:1;display: flex;">
                    <div class="card javaAndSpringCard" style="margin-right: -188px;">
                        <div class="tools">
                            <img src="assets/javaPic.png" style="margin-top: 40px;" width="90px" alt="">
                        </div>
                        <div class="card__content">
                            <p class="javaCardText">Harness the power of Java's robust ecosystem and programming
                                language to build enterprise-grade applications</p>
                        </div>
                    </div>
                    <div class="card javaAndSpringCard">
                        <div class="tools">
                            <img src="assets/springBootPic.png" alt="" width="180" height="">
                        </div>
                        <div class="card__content">
                            <p class="javaCardText springBootText">Leverage the simplicity and rapid development
                                capabilities of Spring Boot to create modern, scalable, and efficient applications</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="color: #F4F2F2;">
            <div class="fourthPage">
                <aside>
                    <h3 class="leftPageText fourthPageHeader">Download Your Projects with Maven</h3>
                    <p class="leftPageText fourthPageDescription">Start building your projects today and experience the
                        convenience of Maven for seamless project management</p>
                </aside>
                <div>
                    <img style="margin-top: -150px;" src="assets/mavenPic.png" width="680">
                </div>

            </div>
        </div>
    </div>
</div>

<footer class="footerIV">
    <mat-toolbar class="footerIV">
        <p class="footerText">Created by Zakaria Ouakrim For Bits 2023</p>
    </mat-toolbar>
</footer>