.cardUpload{
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #606c88;
    background: linear-gradient(to top, rgb(110, 127, 137), #4934C3);
}
#uploadBtn{
    margin-left: 80px;
    width: 100px;
}
.textUpload{
    margin-left: 20px;
    margin-bottom: 20px;
}
.file-label{
    color: white;
    margin-top: 10px;
    font-size: 21px;
    margin-bottom: 20px;
}
.tableCard{
    margin: 15px;

}