<nav>
    <app-nav></app-nav>
</nav>
<div>
    <mat-card class="matCardSettings">
        <mat-card-header>
            <mat-card-title>DataBase Settings</mat-card-title>
            <mat-card-subtitle>This is where you can modify the database that you are using in your projects
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="choiceOfDB">
                <p class="text">This is your current database setting<span style="color:#4934C3;"> {{selected}}</span>
                </p>
                <mat-form-field class="option">
                    <mat-label>Select an option</mat-label>
                    <mat-select [(value)]="selected">
                        <mat-option value="PostgreSQL">PostgreSQL</mat-option>
                        <mat-option value="MySQL">MySQL</mat-option>
                        <mat-option value="Oracle">Oracle</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </mat-card-content>
    </mat-card>
    <div style="display:flex;">
        <mat-card class="matCardSettings">
            <mat-card-header>
                <mat-card-title>Application properties</mat-card-title>
                <mat-card-subtitle>This is where you can modify your application.properties file</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="display: flex; flex-direction: column;">
                    <mat-form-field>
                        <mat-label>Application port</mat-label>
                        <input matInput placeholder="your application port">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Datasource Url</mat-label>
                        <input matInput placeholder="your application port">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label></mat-label>
                        <input matInput placeholder="your application port">
                    </mat-form-field>
                </div>
            </mat-card-content>
        </mat-card>
        <mat-card class="matCardSettings">
            <mat-card-header>
                <mat-card-title>Application properties File</mat-card-title>
                <mat-card-subtitle>This is where you can modify your application.properties file</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <div style="display: flex;">
                    <p class="text">Application.properties FILE</p>
                    <button class="btnSeeFile" color="primary" mat-raised-button>See File</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>



</div>