.matCardSettings{
    display: flex;
    flex-direction: column;
    margin:20px;
    justify-content: space-evenly;
}

.text{
    margin-top: 20px;
    margin-right: 40px;
    font-size: 21px;
}

.choiceOfDB{
    display: flex;
    margin-left: 150px;
}

.option{
    width: 350px;
}
.btnSeeFile{
    margin-top: 12px;
}

.saveBtn{
    display: flex;
    justify-content: center;
}

.inputsDiv{
    display: flex;
    flex-direction: column;
    
}
.input{
    margin-top: 5px;
    margin-left: 40px;
    width: 400px;
}
.bottomLeftCard{
    width: 600px;
}